@{
    var userName = ViewBag.UserName;
}

<h1>Bem-vindo, @userName!</h1>

<div class="text-center">
    <h1>Lista de Estúdios</h1>
</div>

<table class="table">
    <thead>
    <tr>
        <th>Nome</th>
        <th>País</th>
        <th>Site</th>
        <th>Ações</th> 
    </tr>
    </thead>
    <tbody>
    @foreach (var estudio in Model)
    {
        <tr>
            <td>@estudio.Nome</td>
            <td>@estudio.Country</td>
            <td>@estudio.Site</td>
                <td>
                    <form asp-controller="User" asp-action="ExcluirEstudio" method="post">
                        <input type="hidden" name="estudioId" value="@estudio.Id" />
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </form>
                </td>
        </tr>
    }
    </tbody>
</table>

<form asp-controller="User" asp-action="Logout" method="post">
    <button type="submit" class="btn btn-primary">Sair</button>
    <a href="/User/Painel" class="btn btn-secondary">Voltar para a página Painel</a>
</form>
