@{
    var userName = ViewBag.UserName;
}

<h1>Bem-vindo, @userName!</h1>

<div class="text-center">
    <h1>Lista de Artistas</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Biografia</th>
            <th>Site</th>
            <th>Ações</th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var artista in Model)
        {
            <tr>
                <td>@artista.Nome</td>
                <td>@artista.Biografia</td>
                <td>@artista.Site</td>
                <td>
                    <form asp-controller="User" asp-action="ExcluirArtista" method="post">
                        <input type="hidden" name="artistaId" value="@artista.Id" />
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-controller="User" asp-action="Logout" method="post">
    <button type="submit" class="btn btn-primary">Sair</button>
    <a href="/User/Painel" class="btn btn-secondary">Voltar para a página Painel</a>
</form>
